/** GENERAL **/

/* Font Face */
@font-face {
    font-family: MusticaPro;
    src: url("/fonts/MusticaPro-Regular.otf");
}
@font-face {
    font-family: MusticaPro;
    src: url("/fonts/MusticaPro-SemiBold.otf");
    font-weight: 600;
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: MusticaPro, sans-serif;
    scroll-behavior: smooth;
    background: linear-gradient(80deg, #1a2a6c, #b21f1f, #fdbb2d);
    color: rgba(255, 255, 255, 0.7);
}

/** HOME & NAVIGATION */


/* Container styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
    color: #fff;
    text-align: center;
    position: relative;
    padding-left : 15%;
    padding-right : 15%;
}

/* Gradient Text */
.gradient-text {
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(45deg, #fddb92, #d1a4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Author name */
.author {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    letter-spacing: 1px;
}

/* Burger menu styling */
.burger-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 10;
}
.burger-menu div {
    width: 100%;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.3s;
}

/* Menu overlay */
.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Increased opacity */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}
.menu-overlay.active {
    display: flex;
    opacity: 1; /* Smooth transition for menu appearance */
}

/* Menu links */
.menu-overlay a {
    color: #fff;
    font-size: 2rem;
    margin: 15px 0;
    text-decoration: none;
}
.menu-overlay a:hover {
    color: #fddb92;
}

/* Animated Arrow Styling */
.scroll-arrow {
    position: absolute;
    bottom: 30px;
    font-size: 3rem;
    color: #fddb92;
    cursor: pointer;
    animation: bounce 1.5s infinite;
    transition: color 0.3s;
}
.scroll-arrow:hover {
    color: #d1a4ff;
}

/* Bounce animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

/** CONTENT **/

/* Section styling */
section {
    min-height: 50vh;
    padding: 60px 20px;
    background-color: #f4f4f4;
    text-align: center;
    color: #333;
    padding-left : 15%;
    padding-right : 15%;
}

/* About section */
.about_text{
    width: 70%;
	margin: 20px;
	text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#profile_pic{
    max-width: 20%;
}

.text-content {
    width: 70%;
    text-align: left;
}


/* Projects section */
#projects{
    background : none;
    color: rgba(255, 255, 255, 1);
}

#projects h1{
    padding-bottom : 50px;
}

#projects h2{
    padding-top : 20px;
    padding-bottom : 20px;
}

.project-summary{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: 0 auto;
    padding: 5px; 
    max-width: 50%; 
    color: #white;
    margin-bottom: 50px;
}

.project-summary p{
	flex: 1; 
	margin: 0;
}
    
.project-summary img{
    border-radius: 5px;
	max-width: 45%;
}



.title_with_image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.right_image {
    margin-left: 0;
    max-width: 65px;
    max-height : 65px;
}

.left_image{
    max-width: 48px;
    margin-left: 25px;
}


.cat_title{
    color: #f6f4e6;
    padding: 20px; 
    margin: 20px;  
}

.cat_skills{
    padding: 20px; 
    margin: 20px;  
    text-align : center;
}

.rounded_image {
    border-radius: 10%;
    object-fit: cover;
}

.etsi_gifs{
    background-color : white;
    padding : 10px;
    display : flex;
    justify-content: space-between;
    align-items: center;
    max-width : 40%;
    border-radius: 15px;
    margin: 0 auto;
}

.etsi_gifs img{
	width: 45%;
}

.horizontal-line {
    width: 70%; /* Largeur de la ligne */
    height: 5px; /* Hauteur de la ligne */
    background-color: white; /* Couleur de la ligne */
    border-radius: 15px;
    margin: 0 auto; /* Centre la ligne horizontalement */
    margin-top : 50px;
    margin-bottom : 50px;
}


.block{
    color: #f6f4e6;
    padding-left: 15%;
    padding-right: 15%;
    text-align : left;
}

.block a{
	color: #f6f4e6;
}


 /* Base styles for the hidden section */
.hidden-section {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

/* When JavaScript adds the class 'visible' */
.hidden-section.visible {
    max-height: 100%;
    opacity: 1;
}

/*Hover*/
.hover{
    width: 32px;
    height: 32px;
}

.hover figure img {
	opacity: 1;
	-webkit-transition: .1s ease-in;
	transition: .1s ease-in;
}
.hover figure:hover img {
	opacity: .5;
}

.gitlab {
    width : 32px;
    height : 32px;
    text-align: center;
    margin : 0 auto;
}

.iframe_block{
    min-height: 50vh;
}

iframe{
    border: none;
    margin: 40px;
}

.myo{
    text-align: center;
	margin: 0 auto;
}

.myo img{
    margin-top: 20px;
	max-width: 35%;
}

/* Skills section */

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   /* gap: 20px; /* Espace entre les items */
   /*border-radius: 15px;
   /*box-shadow : #d99c4c 2px 2px 10px 9px;
   /*background-color: #d99c4c;*/
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px; /* Largeur de chaque item */
    text-align: center;
    border: 3px solid #fddb92;
    border-radius: 15px;
    margin: 10px;
    background-color : #fddb92;
    overflow: hidden;
    color: #333;
}
.skill_item p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.skill-item img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 5px;
}


.skill_item_img{
    background-color: white;
    width: 100%;
}

#arfoundation{
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color : #333;
}


/*Experiences section */ 

#experiences{
    background : none;
    color: rgba(255, 255, 255, 1);
}

#experiences h1{
    padding-bottom : 50px;
}

.experiences-block{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px; 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
    margin: 0 auto;
    padding: 5px; 
    color: white;
}

.experiences-block p{
	flex: 1; 
	margin: 0;
    max-width: 75%;
}
    
.experiences-block img{
    border-radius: 5px;
    width: 100%;
    margin-top : 15px;
    margin-bottom : 15px;
}

#irisa{
    max-width : 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Education section */

#education h1{
    padding-bottom : 50px;
}

.education-vertical-lines {
    width: 2px; /* Largeur de la ligne verticale */
    height: 50px; /* Hauteur de la ligne verticale */
    background-color : #333;
    margin: 10px 0; /* Espace entre la ligne et les divs */
}

.education-block{
    background-color: rgba(51, 51, 51, 0.15);
    border-radius: 5px; 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
    margin: 0 auto;
    padding: 5px; 
    color: #333;
}

.education-block p{
	flex: 1; 
	margin: 0;
    max-width: 75%;
}
    
.education-block img{
    border-radius: 5px;
    width: 100%;
    margin-top : 15px;
    margin-bottom : 15px;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* Centre le conteneur horizontalement */
}

.top-div, .bottom-div {
    text-align: left; /* Centre le texte à l'intérieur des divs */
    margin: 10px 0; /* Espace entre les divs et la ligne */
    max-width: 40%;
}

.vertical-line {
    width: 2px; /* Largeur de la ligne verticale */
    height: 50px; /* Hauteur de la ligne verticale */
    background-color: rgba(255, 255, 255, 0.7); /* Couleur de la ligne */
    margin: 10px 0; /* Espace entre la ligne et les divs */
}

/* Contact section */
#contact {
    background : none;
    color: rgba(255, 255, 255, 1);
    min-height : 30vh;
}

#contact img{
    margin-top: 50px;
    margin-bottom: 20px;
    max-width : 32px;
}


/* Style de base */
.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.toggle-btn {
    width: 40px;
    height: 40px;
    background-color: #333;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

/* Pseudo-éléments pour créer le + */
.toggle-btn::before,
.toggle-btn::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: white;
    transition: transform 0.3s ease;
}

/* Barre verticale du + */
.toggle-btn::before {
    transform: rotate(90deg);
}

/* Barre horizontale du + */
.toggle-btn::after {
    transform: rotate(0deg);
}

/* Style du bouton lorsqu'il est "ouvert" */
.toggle-btn.open {
    background-color: #333;
}

/* Transformations pour afficher le - */
.toggle-btn.open::before {
    transform: rotate(0deg); /* Cache la barre verticale */
    opacity: 0;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.content.open {
    max-height: 200px; /* Définissez la hauteur maximale souhaitée */
}
